.product-detail-container {
    padding: 27px;
}

.product-detail-container .back-button {
    color: black;
    text-decoration: none;
}

.product-detail-container .back-button:visited {
    
}

.product-detail-container .back-button span {
    text-decoration: underline;
}

.product-detail {
    display: flex;
    flex-direction: column;
    color: #161616;
}

.product-detail img {
    border-radius: 5px;
    margin-block: 47px;
}

.product-detail h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.product-detail > i {
    align-self: flex-start;
}

.product-detail .product-price {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.product-detail .product-price span {
    font-weight: 700;
    font-size: 1.5rem;
}

.product-detail .link-button {
    background-color: #FF8C38;
    color: white;
    font-size: 1.125rem;
}
.absolute-fix{
    display: grid;
    grid-template-columns: 1fr;
}
.absolute-fix img {
    grid-row-start: 1;
    grid-column-start: 1;
}
.justify-center{
    justify-items: center;
}