.small-block{
    /* background-image: linear-gradient(to right, #fc5c7d, #6a82fb); */
    padding: 3px;
    border-top-left-radius: 1cap;
    height: 150px;
    position: relative;
    display: flex;
    justify-content: space-around;
}
.sub_div {
    position: absolute;
    bottom: 0px;
}


.zoom {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
}

.zoom:hover {
transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.icon-placeholder {
    border-radius: 50%;
    margin-right: 20px;
  }